version: 2
jobs:
  test_and_build:
    docker:
      - image: node:16.10.0

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn test

      - run: yarn build

  deploy:
    docker:
      - image: node:16.10.0

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: yarn install

      - run: yarn vercel:pull

      - run: yarn vercel:build

      - run: yarn vercel:deploy

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - test_and_build
      - deploy:
          requires:
            - test_and_build
          filters:
            branches:
              only: main
